// Google Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700);

// layout
$sidebar-width: 260px;
$tile-width: $sidebar-width;
$tile-height: $tile-width;

// fonts
$font-stack: 'Roboto', sans-serif;

// colors
$background: rgb(40, 40, 46);
$sidebar: rgb(44, 62, 80);
$address: rgba(255, 254, 254, 0.3);
$red: rgb(234, 46, 73);
$white: #fff;
$black: #000;
$link: $red;

// font sizes
$small: 12px;
$medium: 16px;
$large: 54px;

// margins
$default-margin: 40px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-stack;
}

a {
  &:hover, &:link, &:active, &:visited {
    color: $link;
    text-decoration: none;
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.spinner {
  display: none;
  position: fixed;
  height: 64px;
  width: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -23px;
  text-align:center;
  z-index: 1234;
  overflow: auto;
  background: url(../img/spinner.png) no-repeat;
  -webkit-animation: spinner 1.3s linear infinite;
}

.container {
  position: relative;
  min-height: 100%;
  .sidebar {
    display: none;
    position: absolute;
    width: $sidebar-width;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $sidebar;
    .options {
      margin-left: 22px;
      margin-top: 122px;
      .option {
        margin-bottom: 30px;
        padding-left: $default-margin;
        line-height: 30px;
        font-family: $font-stack;
        color: $white;
        font-size: $medium;
        font-weight: 500;
        background: url(../img/check-off.png) no-repeat;
        cursor: pointer;
        &.checked {
          background: url(../img/check-on.png) no-repeat;
        }
      }
    }
    .address {
      position: absolute;
      margin-left: $default-margin;
      bottom: 40px;
      height: 48px;
      width: 138px;
      color: $address;
      font-family: $font-stack;
      font-size: $small;
      font-weight: 500;
      line-height: 0.5;
    }
  }
  .right {
    &.open {
      margin-left: $sidebar-width;
    }
    position: relative;
    background-color: $background;
    .header {
      height: 120px;
      width: 100%;
      .image {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-top: $default-margin;
        margin-left: $default-margin;
        &.toggle {
          height: 20px;
          width: 20px;
          margin-top: 0;
          vertical-align: 50%;
          background: url(../img/toggle.png) no-repeat;
          &.close {
            background: url(../img/close.png) no-repeat;
          }
        }
        &.logo {
          background: url(../img/logo.png) no-repeat;
          width: 312px;
        }
        &.save {
          float: right;
          background: url(../img/save.png) no-repeat;
          margin-right: $default-margin;
        }
      }
    }
    .content {
      width: 100%;
      position: relative;
      .tile-container {
        display: inline-block;
        .tile {
          position: relative;
          height: $tile-width;
          width: $tile-height;
          opacity: 0.1;
          -webkit-perspective: 1000;
          -webkit-transform-style: preserve-3d;
          .front, .back {
            img {
              width: $tile-width;
              height: $tile-height;
            }
            position: absolute;
            -webkit-backface-visibility: hidden;
            -webkit-transition: -webkit-transform 1s ease-in;
          }
          .back {
            margin: 15px;
            color: $white;
            font-family: $font-stack;
            font-size: $small;
            opacity: 1;
            -webkit-transform: rotateY(180deg);
            &.flipped {
              -webkit-transform: rotateY(0deg);
            }
          }
          .front {
            &.flipped {
              -webkit-transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}
