// Google Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700);

// layout
$sidebar-width: 260px;

// fonts
$font-stack: 'Roboto', sans-serif;

// colors
$background: rgb(40, 40, 46);
$sidebar: rgb(44, 62, 80);
$address: rgba(255, 254, 254, 0.3);
$white: #fff;
$black: #000;

// font sizes
$small: 12px;
$medium: 16px;
$large: 54px;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-stack;
}

.container {
  position: relative;
  .sidebar {
    display: none;
    position: absolute;
    width: $sidebar-width;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $sidebar;
    .options {
      position: relative;
      top: 122px;
      left: 22px;
      .option {
        position: relative;
        margin-bottom: 31px;
        padding-left: 41px;
        height: 30px;
        font-family: $font-stack;
        color: $white;
        font-size: $medium;
        font-weight: 500;
        background: url(../img/check-off.png) no-repeat;
        cursor: pointer;
      }
      .checked {
        background: url(../img/check-on.png) no-repeat;
      }
    }
    .address {
      position: absolute;
      left: 40px;
      bottom: 40px;
      height: 48px;
      font-family: $font-stack;
      color: $address;
      font-size: $small;
      font-weight: 500;
      line-height: 6px;
    }
  }
  .right {
    &.open {
      margin-left: $sidebar-width;
    }
    position: relative;
    background-color: $background;
    .header {
      height: 120px;
      width: 100%;
      .image {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-top: 40px;
        margin-left: 40px;
        &.toggle {
          height: 20px;
          width: 20px;
          margin-top: 0;
          vertical-align: 50%;
          background: url(../img/toggle.png) no-repeat;
          &.close {
            background: url(../img/close.png) no-repeat;
          }
        }
        &.logo {
          background: url(../img/logo.png) no-repeat;
          width: 312px;
        }
        &.save {
          float: right;
          background: url(../img/save.png) no-repeat;
          margin-right: 40px;
        }
      }
    }
    .content {
      width: 100%;
      position: relative;
      .tile-container {
        display: inline-block;
        .tile {
          position: relative;
          height: 260px;
          width: 260px;
          opacity: 0.1;
          overflow: hidden;
          -webkit-perspective: 1000;
          -webkit-transform-style: preserve-3d;
          .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-transition: -webkit-transform 1s ease-in;
          }
          .back {
            margin: 15px;
            color: $white;
            font-family: $font-stack;
            font-size: $small;
            opacity: 1;
            -webkit-transform: rotateY(180deg);
            &.flipped {
              -webkit-transform: rotateY(0deg);
            }
          }
          .front {
            &.flipped {
              -webkit-transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}
